// .click-zoom__enlarge
//   transition: transform .4s
//   transform: scale(1.6)


.click-zoom
  animation click_zoom_ani .4s


@keyframes click_zoom_ani 
  0%
    transform: scale(1)
  50%
    transform: scale(1.12)
  0%
    transform: scale(1)