body, html, #app, .root-router
  height 100%
.root-router
  position relative
  color #333
  font-size 14px
  line-height 1
  overflow hidden
.cube-popup-content
  padding 14PX 20PX
  border-radius 2PX
.cube-loading
  font-size 24PX
.cube-loading~.cube-toast-tip
  margin-left 8px
.cube-toast-tip
  line-height 20PX
  font-size 14PX
  max-height 40PX
  overflow hidden