.cell-group
  background #fff
  @extend .border-top-1px;
  @extend .border-bottom-1px;
  .cell-item
    position relative
    display flex
    align-items center
    justify-content space-between
    height 46px
    font-size 16px
    padding: 0 40px 0 18px
    &:active
      background-color #d9d9d9
      &:not(:last-child)::after
        display none
    &:not(:last-child)
      @extend .border-bottom-1px;
      &::after
        width auto
        left 16px
        right 0
        @media (min-resolution: 2dppx)
          transform: scale(1,.5);
        @media (min-resolution: 3dppx)
          transform: scale(1,.333);
    .label
      color #333
    .value
      color #999


      
// 右箭头
.cubeic-arrow
  position  absolute
  top 50%
  transform: translateY(-50%)
  right 16px
  font-size 16px
  color #ccc