// 网站背景颜色
$app-bg = rgb(245,245,245);


// 网站主要颜色
$app-main = rgb(51,136,255);


//次要字体颜色
$less-color = rgb(85,85,85);


// 网站特殊颜色
$app-less = rgb(232,39,39);


// 弹层按钮颜色
$btn-confirm = rgb(232,90,90);       
$btn-cancel = rgb(199,199,199);

// 头部高度
$head-h = 44px;



// tag 标记相关
$tag-service = rgb(190,29,45);       // 服务
$tag-retail = rgb(39,170,226);       // 零售
$tag-free = rgb(255,175,4);          // 趣免单

