.dolls__item
  &.bg-1 .dolls__item__face
    height 60px
    margin-top 53px
    animation doll1-face-ani 2s step-start infinite
    // bg-image('~_assets/images/dolls/doll1/doll1_1')
    background-image url('~_assets/images/dolls/doll1/doll1_1@2x.png')
  &.bg-2 .dolls__item__face
    height 56px
    margin-top 38px
    animation doll2-face-ani 2s step-start infinite
    // bg-image('~_assets/images/dolls/doll2/doll2_1')
    background-image url('~_assets/images/dolls/doll2/doll2_1@2x.png')
  &.bg-3 .dolls__item__face
    height 60px
    margin-top 42px
    animation doll3-face-ani 2s step-start infinite
    // bg-image('~_assets/images/dolls/doll3/doll3_1')
    background-image url('~_assets/images/dolls/doll3/doll3_1@2x.png')
  &.bg-4 .dolls__item__face
    height 84px
    margin-top 8px
    animation doll4-face-ani 2s step-start infinite
    // bg-image('~_assets/images/dolls/doll4/doll4_1')
    background-image url('~_assets/images/dolls/doll4/doll4_1@2x.png')
  &__face
    width 100%
    background center / contain no-repeat
  @keyframes doll1-face-ani
    33.33%
      background-image url('~_assets/images/dolls/doll1/doll1_1@2x.png')
    66.66%
      background-image url('~_assets/images/dolls/doll1/doll1_2@2x.png')
    100%
      background-image url('~_assets/images/dolls/doll1/doll1_3@2x.png')
@keyframes doll2-face-ani
  33.33%
    background-image url('~_assets/images/dolls/doll2/doll2_1@2x.png')
  66.66%
    background-image url('~_assets/images/dolls/doll2/doll2_2@2x.png')
  100%
    background-image url('~_assets/images/dolls/doll2/doll2_3@2x.png')
@keyframes doll3-face-ani
  33.33%
    background-image url('~_assets/images/dolls/doll3/doll3_1@2x.png')
  66.66%
    background-image url('~_assets/images/dolls/doll3/doll3_2@2x.png')
  100%
    background-image url('~_assets/images/dolls/doll3/doll3_3@2x.png')
@keyframes doll4-face-ani
  33.33%
    background-image url('~_assets/images/dolls/doll4/doll4_1@2x.png')
  66.66%
    background-image url('~_assets/images/dolls/doll4/doll4_2@2x.png')
  100%
    background-image url('~_assets/images/dolls/doll4/doll4_3@2x.png')